@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}
/* completa tu codigo aqui */
li {
    list-style: none;
    display: block;
}
.azul {
    background: #66b3ff;
    color: #66b3ff;
}
.celeste {
    background: #66ffcc;
    color: #66ffcc;
}
.melon {
    background: #ffaa80;
    color: #ffaa80;
}
.rosado {
    background: #ff99bb;
    color: #ff99bb;
}
.box {
    vertical-align: middle;
    text-decoration: none;
    font-family: Dosis;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    height: 100px;
    display: table-cell;
}
a:hover .bo {
    display: block;
    transition: 1s;
}
.bo {
    background: #7b7b7b;
    padding: 40px 0px;
    width: 100px;
    display: none;
    margin-left: 100px;
}

