@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

/* completa tu codigo aqui */
nav li ul {
    display: none;
    position: absolute;
    left: 100px;
    top: 0px;
}
li {
    background: yellow;
    width: 100px;
    height: 100px;
}
nav li:hover ul {
    display: block;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
}
li {
    list-style: none;
}
nav li {
    position: relative;
}
li ul li {
    background: black;
}
li ul li a {
    color: white;
    font-family: Dosis;
    vertical-align: middle;
}
ul {
    vertical-align: middle;
}